<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.esiea.jachimski.mybeers">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-feature android:name="android.hardware.Camera" android:required="true"></uses-feature>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mybeers"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AboutUsActivity"
            android:label="@string/btn_about"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".ActionBarActivity"
            android:label="Action Bar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".BiersServices"
            android:exported="false" >
        </service>

        <activity
            android:name=".BarmanActivity"
            android:label="@string/btn_barman"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>


        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyBeerActivity"
            android:label="@string/btn_mybiers"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".PlayActivity"
            android:label="@string/btn_play"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".RecyclerActivity"
            android:label="Recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".WebActivity"
            android:label="Web"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".WhyNotActivity"
            android:label="@string/btn_wn"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

    </application>

</manifest>